@import 'tailwindcss';

@layer base {
  :root {
    --color-mydark: #0a0914;
    --color-soft-purple: #f1efff;
    --color-soft-white: #fdfbff;
    --color-light-white: #fafaff;
    --color-darkbluetext: #6852d6;
    --font-satoshi: 'Satoshi', sans-serif;
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-out;
  }

  .animate-slide-in {
    animation: slideIn 1s ease-out;
  }

  .animate-marquee {
    animation: marquee 80s linear infinite;
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.6s ease-out both;
  }
}
